      <h1 class="mast__title js-spanize">Hey, I'm FLorian Lahitte</h1>
      <hr class="sep"/>
      <p class="mast__text js-spanize">
Welcome to my Movie Blog,
This week I built a blog in Rails 5. You're actually on the demo
application right now. Cool stuff, right!
See you soon...</p>
