/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   background: #24C6DC; /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #24C6DC , #514A9D); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to left, #24C6DC , #514A9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

 .navbar-default{
   background: #232526; /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   border-color: #232526;
   color: #fff;
 }

 .navbar-default .navbar-brand {
    color: #fff;
    font-family: "Gotham-Narrow","Hiragino Kaku Gothic Pro","Helvetica Neue","Tahoma","Arial",sans-serif;
    font-weight: 400;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    &:hover {
					color: #24C6DC;
				}
  }

  .navbar-default .navbar-nav > li > a {
    color: #fff;
    font-family: "Gotham-Narrow","Hiragino Kaku Gothic Pro","Helvetica Neue","Tahoma","Arial",sans-serif;
    font-weight: 400;
    font-size: 18px;
    &:hover {
					color: #33acb7;
				}
}

  .img-brand {
    float: left;
    margin-top: 4px;
    margin-right: 25px;
    border-radius: 40px;
    max-height: 50px;
}

 .review_title {
 	margin: 0 0 20px 0;
 }
 .reviews {
 	padding: 15px 0;
 	border-bottom: 1px solid #EAEAEA;
 	.star-rating {
 		padding-bottom: 8px;
 	}
 }



 @media all and (min-width: 768px) and (max-width: 1990px){
 .col-md-3 {
     width: 20%;
 }
}

 @media all and (min-width: 768px) and (max-width: 992px){
 .col-md-3 {
     width: 25%;
  }
 }

 @media all and (min-width: 400px) and (max-width: 768px){

   .thumbnail{


  background: #24C6DC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #24C6DC , #514A9D); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #24C6DC , #514A9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
 }
}
